.AsenZor-admin header{

background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 27%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 67%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(21%, rgba(102,102,102,1)), color-stop(27%, rgba(71,71,71,1)), color-stop(42%, rgba(44,44,44,1)), color-stop(52%, rgba(0,0,0,1)), color-stop(61%, rgba(0,0,0,1)), color-stop(67%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 27%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 67%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 27%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 67%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 27%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 67%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 27%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 61%, rgba(17,17,17,1) 67%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
height: 60px;
width: 100%;
}

.AsenZor-admin header h1{
	font-style: bold;
	font-weight: 900;
	display: inline;
}
.AsenZor-admin header ul li{
	display: inline-block;
}
.AsenZor-admin header ul li h5{
	color: white;
}

.AsenZor-admin header nav ul li{
	display: inline-block;
}
.AsenZor-admin header nav ul li div{
	background-color: black;
	border:solid;
	border-width: 1px;
	border-color: rgb(100,100,255);
	padding: 5px;
	font-style: bold;
	font-weight: 900;
	font-size:14px;

}
.AsenZor-admin .cpanel{
	background-color: #e6e6ff;
	height: 500px;
	margin: 5px;
	border-radius: 2px;

}
.AsenZor-admin .h{
	border:solid;
}