@font-face{
	font-family:"analecta";
	src: url(../fonts/analecta.otf);
}
.AsenZor-admin header{

background: rgba(17,17,17,1);

height: 60px;
}

.AsenZor-admin header h1{
	font-style: bold;
	font-weight: 900;
	display: inline;
}
.AsenZor-admin header ul{
	display: inline;
}
.AsenZor-admin header ul li{
	display: inline-block;
}
.AsenZor-admin header ul li h5{
	color: white;
}

.AsenZor-admin header nav ul li{
	display: inline-block;
}
.AsenZor-admin header nav ul li div{
	background-color: black;
	border:solid;
	border-width: 1px;
	border-color: rgb(100,100,255);
	padding: 5px;
	font-style: bold;
	font-weight: 900;
	font-size:14px;
}
#AsenZor-menuPrincial{
margin-top:15px;
float: right;
}

.cpanel{
	background-color:#e6e6ff;
	height: 1650px;
	margin: 5px;
	border: solid;
	border-width: 1px;
	border-color:#3465a4 ;
	border-radius: 10px;
	list-style: none;
}
.btn1{
	background-color: #0066cc;
	border:solid;
	border-width: 1px;
	
	border-color:#3465a4;
	color: white;
	font-weight: bold;
	padding:10px;
}
.btn2{
	background-color: #000000;
	border:solid;
	
	border-color:#3465a4;
	color: white;
	border-width: 1px;
	font-weight: bold;
	padding:10px;
}
.btn3{
	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,208,239,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(216,208,239,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,208,239,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,208,239,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(216,208,239,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(216,208,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d0ef', GradientType=0 );

	border:solid;
	border-color:#3465a4;
	color:black;
	border-width: 1px;
	font-weight: bold;
	padding:10px;

}
.AsenZor-admin .h{
	border:solid;
	border-width: 1px;
	border-color: #6699cc;
	width: 95%;
}

.analecta{
	font-family: "analecta";
}
.interLine li{
	margin-bottom: 5px;
	margin-top:5px;
}
ul{
	padding-left: 0px;
}
/*siempre va en un div*/
.lineal>ul>li{
	display: inline;
}
.lineal  ul li > div{
	display: inline;
}
.lineal-block >ul > li{
	display: inline-block;
}
.block ul li{
	display: block;
}
.commit-content{
	width: 350px;
}

.margin-left{
	margin-left: 20px;
}
.widget-commit{
	width: 100%;
	height: 500px;
	background-color: rgb(250,250,255);
	
}

