
header{
	

background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
height: 60px




}
header div h1{

	font-weight:bold;
}
nav ul li{
	background-color: black;
	color:white;
	list-style: none;
	display: inline-block;
	padding:10px;
	border: solid;
	border-width:1px;
	border-color: rgb(100,100,255); 
	font-weight: 700;
}
header div{
	float: left;
	margin-left: 10px;
}
nav{
	float: right;
	margin-top: 10px;
	
	height: auto;

}
#cpanel{
	border-radius: 5px;
	background-color: #e6e6ff;
	height: 700px;
}
hr{
	width: 50%;
	border:solid;
	margin-top:10px;
	margin-left: 0px;
	margin-bottom: 10px;
}
