.bg-img1{
	background-image: url();
}
.bg-img2{
	background-image: url();
}
.bg-img3{
	background-image: url();
}
.bg-img4{
	background-image: url();
}
.bg-img5{
	background-image: url();
}
.bg-img6{
	background-image: url();
}
.bg-img7{
	background-image: url();
}
.bg-img8{
	background-image: url();
}
.bg-img9{
	background-image: url();
}
.bg-img10{
	background-image: url();
}
